/* Home.css */
@keyframes slide-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-background {
    animation: slide-background 10s infinite alternate linear;
}
